@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('first.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: #f0f0f0; 
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 5px;
    background: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.logo {
    position: relative; 
    top: 10px; 
    left: 10px; 
}

.logo img {
    width: 100px; 
    height: auto; 
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a,
.navigation .btnLogin-popup {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin: 0 30px;
    padding: 5px 0;
    transition: color 0.3s; /* Smooth color transition */
}

.navigation a::after,
.navigation .btnLogin-popup::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff; /* Underline color */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navigation a:hover,
.navigation {
    color: #ffffff; /* Optional: change text color on hover */
}

.navigation a:hover::after {
    visibility: visible;
    width: 100%;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s; /* Smooth background and color transition */
}

.navigation .btnLogin-popup:hover {
    background: #ffffff;
    color: #000000;
}

.content {
    text-align: center;
    padding: 295px;
}

.content h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 50px;
}

.content p {
    font-size: 1.2em;
    color: #f0f0f0; 
}

.footer {
    display: flex;
    background: #cce9ff;
    color: #fff;
    padding: 40px 10000px;
}

.contact, .services {
    flex: 1;
    margin: 10px 20px;
}

.contact h2, .services h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.services ul {
    list-style-type: none;
    padding: 1px;
}

.services ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}
